<style>
  .mono, #title, #script {
    font-family: monospace;
    font-size: 20px;
  }
  #title, #script {
    width: 600px;
  }
  #script {
    height: 500px;
  }
  #submit {
    vertical-align: bottom;
  }
</style>

<form method="post" action="/new">
  <h1><input type="text" id="title" name="title"/></h1>
  <input type="textarea" id="script" name="script"/>
  <input type="submit" value="Submit" id="submit"/>
</form>